<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1.0">
        <title>Youtube Downloader Website</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <form action="/download" method="post">
            <label for="youTubeUrl">Enter YouTubeUrl: </label>
            <input type="text" id="youTubeUrl" name="youTubeUrl" required>
            <button>Download</button>
        </form>
    </body>
</html>