<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1.0">
        <title>Youtube Downloader Website</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div class="container">
            <form action="/downloadVideo" method="post">
                <label for="youTubeUrl">Enter YouTubeURL: </label>
                <input type="text" id="youTubeUrl" name="youTubeUrl" required>
                <button>Download Video</button>
            </form>

            <form action="/downloadPlaylist" method="post">
                <label for="playlistUrl">Enter Playlist URL: </label>
                <input type="text" id="playlistUrl" name="playlistUrl" required>
                <button>Download Playlist</button>
            </form>
        </div>
    </body>
</html>